.main {
  background-color: #f8f8f8;
  .ShowMain {
    padding: 40px;
    text-align: left;
    margin: 0 auto;
    .ShowAll{
      margin: 0;
      padding: 0;
    }
    .ShowFlame {
      width: 700px;
      margin: 0 auto;
      &__Top {
        margin: 0;
        padding: 0;
        .ShowBox {
          background-color: #fff;
          padding: 24px 40px 40px;
          &__nameEe {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__body {
            margin: 16px 0 0;
            ul {
              display: flex;
              position: relative;
              margin-top: 10px;
              li {
                display: flex;
                flex-direction: column;
                width: 560px;
                align-items: center;
                margin: 0 auto;
                .image {
                  object-fit: cover;
                  height: 346px;
                }
                ul {
                  display: flex;
                  justify-content: space-around;
                  margin-top: 10px;
                  li {
                    width: 25%;
                    margin: 0 10px 0 0;
                    .image {
                      object-fit: cover;
                      height: 87px;
                    }
                  }
                  li {
                    width: 25%;
                    margin: 0 10px 0 0;
                    .image {
                      object-fit: cover;
                      height: 87px;
                    }
                  }
                }
              }
            }
          }
          &__price {
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            span {
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
            &__price-data {
              font-size: 16px;
              .span--data {
                font-size: 16px;
              }
            }
          }
          &__name {
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
            text-align: left;
            font-weight: bold;
          }
          .ShowTable {
            margin-bottom: 20px;
            margin: 0;
            padding: 0;
            table {
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              border-spacing: 0;
              tbody {
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;
                  tr {
                  display: table-row;
                  justify-content: center;
                  vertical-align: inherit;
                  border-color: inherit;
                  th {
                    width: 20%;
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    text-align: center;
                    border: 1px solid #dedede;
                    font-size: 14px;
                  }
                  td {
                    vertical-align: top;
                    padding: 0;
                    width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 14px
                  }
                }
              }
            }
          }
          .CheckArea {
            display: flex;
            justify-content: space-between;
            ul {
              margin: 10px 0 0;
              display: flex;
              li {
                margin-right: auto;
                padding: 6px 10px;
                border-radius: 40px;
                color: #3CCACE;
                border: 1px solid #ffb340;
                i {
                  display: inline-block;
                  font: normal normal normal 14px/1 FontAwesome;
                  font-size: inherit;
                  text-rendering: auto;
                  .fa-star:before {
                    content: "\f005";
                  }
                }
              }
            }
            .ul--Check {
              margin: 10px 0 0;
              display: flex;
              .li--CheckBtn {
                font-size: 14px;
                a {
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border: 1px solid #333;
                  text-decoration: none;
                  i {
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    ::before {
                      display: inline-block;
                      font: normal normal normal 14px/1 FontAwesome;
                      font-size: inherit;
                      text-rendering: auto;
                    }
                  }
                }
              }
            }
          }
        }
        .commentArea {
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          .commentBox {
            list-style: none;
          }
          .new_comment {
            margin: 0;
            padding: 0;
            input {
              font-family: inherit;
              font-size: inherit;
              font-weight: inherit
            }
            .comment_middle {
              width: 100%;
              min-height: 104px;
              padding: 10px;
            }
            p.atention {
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;
            }
            br {
              font-size: 14px;
            }
            .commentBtn {
              font-size: 18px;
              line-height: 48px;
              background: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
              i.fa.fa-comment {}
            }
          }
        }
      }
      ul.links {
        display: flex;
        justify-content: space-between;
        li {
          a {
            text-decoration: none;
            color: #3CCACE;
            i.fa.fa-angle-leftarea{
              font: normal normal normal 14px/1 FontAwesome;
              font-size: inherit;
            }
            span {}
          }
        }
        li {
          a {
            span {}
            i.fa.fa-angle-rightarea {}
          }
        }
      }
      .Moreproduct {
        a {
          display: block;
          margin: 24px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }
        .MoreproductLists {
          margin: 0;
          padding: 0;
          .MoreproductList {
            margin: 0 0 10px;
            width: calc(100% / 3);
            .a--spel {
              font-size: 22px;
              display: block;
              margin: 24px 0 8px;
              color: #3CCACE;
              position: relative;
              font-weight: bold;
              .MoreproductList--img {
                background-color: #fff;
                .img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  width: 100%;
                  z-index: auto;
                  height: 150px;
                  object-fit: cover;
                }
              }
              .MoreproductList--body {
                background-color: white;
                color: #333;
                padding: 16px;
                h3.name {
                  overflow: hidden;
                  line-height: 1.5;
                  font-size: 16px;
                  text-align: left;
                }
                .details {
                  font-size: 16px;
                  ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    li {}
                    li {
                      i {}
                    }
                  }
                  p {
                    font-size: 10px;
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}