.sellfooter {
  margin-top: auto;
  text-align: center;
  ul {
    display: flex;
    justify-content: center;
    align-content: center;
  li {
    font-size: 12px;
    margin: 16px  40px 16px;

    }
  }
}

.sellfooter__bottomLogo {
  display:  flex;
  justify-content: center;
  &__Link{
      &Icon{
      height: 65px;
      margin-bottom: 8px;
      width: 80px;
      // background-color: gainsboro;
      background-size: cover 65px 80px;
      vertical-align: middle;
    }
  }
}

.sellfooter__bottomPoricy{
  display:  flex;
  justify-content: center;
}

