.sellMain{
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 700px;
    margin: 0 auto;
    &__content {
      padding: 40px;
      width: 100%;
      &__caution{
        font-size: 14px;
        color: #BBB;
      }
    }
    .postContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      height: 200px;
      &__prev {
        display: flex;
        .preview-box {
          padding: 5px 0;
          width: 110px;
          margin: auto 5px;
          .upper-box {
            height: 150px;
            width: 100%;
            position: relative;
            &__image {
              display: block;
              position: absolute;
              max-height: 110px;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              width: 110px;
            }
          }
        }
        .lower-box {
          display: flex;
          text-align: center;
          .update-box {
            color: #3CCACE;
            width: 50%;
            height: 30px;
            line-height: 30px;
            border: 1px solid #eee;
            border-radius: 5px;
            background: #f5f5f5;
            cursor: pointer;
            margin-right: 5px;
          }
          .delete-box {
            color: #3CCACE;
            width: 50%;
            height: 30px;
            line-height: 30px;
            border: 1px solid #eee;
            border-radius: 5px;
            background: #f5f5f5;
            cursor: pointer;
          }
        }
      }
      &__label {
        height: 100%;
        width: 100%;
        &Box {
          display: block;
          border: 1px dashed #ccc;
          position: relative;
          background: #f5f5f5;
          height: 100%;
          width: 100%;
          cursor: pointer;
        }
        &Icon {
          position: absolute;
          top: 45%;
          left: 16px;
          right: 16px;
          text-align: center;
          line-height: 1.5;
          font-weight: bold;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          pointer-events: none;
          white-space: pre-wrap;
          word-wrap: break-word;
        }
        &Text {
          position: absolute;
          top: 65%;
          left: 16px;
          right: 16px;
          text-align: center;
          font-size: 10px;
          line-height: 1.5;
          font-weight: bold;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          pointer-events: none;
          white-space: pre-wrap;
          word-wrap: break-word;
        }
      }
      &__hidden {
        &Field {
          width: 0;
          display: none;
        }
        &Checkbox {
          width: 0;
          display: none;
        }
      }
    }
    &__field {
      &__label {
        font-size: 14px;
        font-weight: bold;
      }
      &__essential {
        color: white;
        background-color:#3CCACE;
        font-weight: bold;
        font-size: 14px;
        margin-left: 2px;
        padding: 0 5px;
      }
      &__arbitrary {
        color: white;
        background-color:gray;
        font-weight: bold;
        font-size: 14px;
        margin-left: 5px;
        padding: 0 2px;
      }
      &__text {
        font-size: 12px;
      }
      &__image{
        height: 100%;
        width: 100%;
        border: 1px solid #bbb;
        border-radius: 5px;
        .js-file{
          &_group {
            display: flex;
          }
        }
        .js-remove {
          line-height: 24px;
          align-items: center;
        }
      }
      &--input{
        width: 100%;
        position: relative;
        &Field {
          padding: 5px 10px;
          border: 1px solid #bbb;
          border-radius: 5px;
          height: 50px;
          width: 100%;
          line-height: 100%;
          align-items: center;
          &:focus {
            outline: 1px blue solid;
            }
        }
        &Select {
          padding: 5px 10px;
          border: 1px solid #bbb;
          border-radius: 5px;
          height: 50px;
          width: 100%;
          line-height: 100%;
          align-items: center;
          position: relative;
          &Icon{
            position: absolute;
            right:  20px;
            top: 18px;
          }
          &:focus {
            outline: 1px blue solid;
          }
        }
        &Area {
          padding: 5px 10px;
          border: 1px solid #bbb;
          border-radius: 5px;
          height: 200px;
          width: 100%;
          resize:vertical;
          &:focus {
            outline: 1px blue solid;
          }
        }
        &Price{
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &Label {
            line-height: 50px;
            text-align: center;
            font-weight: bold;
            margin-right: 5px;
          }
          &Field{
          padding: 5px 10px;
          border: 1px solid #bbb;
          border-radius: 5px;
          height: 50px;
          width: 300px;
          line-height: 100%;
          align-items: center;
          text-align: right;
            &::placeholder {
              text-align: right;
            }
          }
        }
      }
      &--btn {
        display: block;
        background-color: #3CCACE;
        color: white;
        width: 300px;
        -items: center;
        text-align: center;
        border-radius: 5px;
        height: 50px;
        margin: 0 auto;
      }
      &--link {
        font-size: 14px;
        display: block;
        width: 100px;
        color: blue;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
  .formCutter {
    border-top: 1px dotted #bbb;
    width: 100%;
    &:after {
      content: '\002702';
      position: relative;
      top: -10px;
      left: 40px;
      padding: 0 3px;
      color: #bbb;
      font-size: 18px;
    }
  }
  .field_with_errors {
    border: 1px solid red;
    border-radius: 5px;
  }
  .error_message {
    margin-top: 10px;
    color: red;
  }
  .marginT25 {
    margin-top: 25px;
  }
  .marginT50 {
    margin-top: 50px;
  }
  .last__content{
    padding: 40px 40px 20px 40px;
  }
  .flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #drop_area{
    height: 100%;
    width: 100%;
  }
}
