.main {
  .topView {
    width: 100%;
    height: 560px;
    background-image: url(/assets/mainVisual.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 0 60px;
    display: flex;
    align-items: center;
    //position: relative;
    .content {
      max-width: 1280px;
      width: 100%;
      //margin: 0 auto;
      padding: 35px 0 0 0;
      &__subtitle {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__text {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.7;
        margin: 16px 0 0 0;
      }
      &__btn {
        .appleBtn {
          margin-right: 10px;
          width: 180px;
        }
        .googleBtn {
          width: 180px;
        }
      }
    }
    .imagepicture {
      width: 100px;
      height: 100px;
    }
  }
  .topIntro {
    .subtitle h2 {}
    .lists {
      .list {
        &__pict {}
        &__text {}
        &__description {}
      }
      .list {
        &__pict {}
        &__text {}
        &__description p {}
      }
      .list--right {
        &__pict {}
        &__text h3 {}
        &__description p {}
      }
    }
  }
  .topDl {
    .topDlItems {
      .subtitle h2 {}
      .text p {}
      .btn {}
    }
  }
  .topFeatures {
    .head h2 {}
    .items {
      .item {
        &__img {}
        &__subtitle h3 {}
        &__detail p {}
      }
      .item {
        &__img {}
        &__subtitle h3 {}
        &__detail p {}
      }
      .item {
        &__img {}
        &__subtitle h3 {}
        &__detail p {}
      }
    }
  }
  .pickup {
    .head h2 {}
    .productBox {
      .productHead {
        .title h3 {}
      }
    }
    .productLists {
      .productList {
        &__img {}
        &__body {
          .name h3 {}
          .details {
            ul {
              li {}
              li {
                i {}
              }
            }
            p {}
          }
        }
      }
      .productList {
        &__img {}
        &__body {
          .name h3 {}
          .details {
            ul {
              li {}
              li {
                i {}
              }
            }
            p {}
          }
        }
      }
      .productList {
        &__img {}
        &__body {
          .name h3 {}
          .details {
            ul {
              li {}
              li {
                i {}
              }
            }
            p {}
          }
        }
      }
      .productList {
        &__img {}
        &__body {
          .name h3 {}
          .details {
            ul {
              li {}
              li {
                i {}
              }
            }
            p {}
          }
        }
      }
    }
  }
  .pickup {
    .head h2 {}
    .productBox {
      .productHead {
        .title h3 {}
      }
    }
    .productLists {
      .productList {
        &__img {}
        &__body {
          .name h3 {}
          .details {
            ul {
              li {}
              li {
                i {}
              }
            }
            p {}
          }
        }
      }
      .productList {
        &__img {}
        &__body {
          .name h3 {}
          .details {
            ul {
              li {}
              li {
                i {}
              }
            }
            p {}
          }
        }
      }
      .productList {
        &__img {}
        &__body {
          .name h3 {}
          .details {
            ul {
              li {}
              li {
                i {}
              }
            }
            p {}
          }
        }
      }
      .productList {
        &__img {}
        &__body {
          .name h3 {}
          .details {
            ul {
              li {}
              li {
                i {}
              }
            }
            p {}
          }
        }
      }
    }
  }
}

