@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "header";
@import "main";
@import "banner";
@import "footer";
@import "products";

*{
  text-decoration:none;
}

body{
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.notifications {
  color: black;
  text-align: center;
  font-weight: bold;

  .notice {
    background-color: #3CCACE;
  }

  .alert {
    background-color: red;
  }
}
