@import "products/new/header";
@import "products/new/form";
@import "products/new/footer";
@import "products/show/showmain";
@import "products/buy";
@import "products/ok";

.sellWrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: black;
  background-color: #F5F5F5;
}