.productList
  = link_to product_path(product) do
    %figure.productList--img
      = image_tag product.images.first.src.url, alt: "#{product.id}の画像"
    .productList--body
      %h3.name= product.name
      .details
        %ul
          %li=product.price.to_s + "円"
          %li
            %i.fa.fa-star.likeIcon
            0
        %p (税込)